@model CategoryAdminViewModel

@{
    ViewData["Title"] = "مدیریت دسته بندی ها";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}


<h3 class="page-title">
    @Html.Raw(Model.PostTypeTitle) <small>لیست دسته بندی </small>
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="Home" asp-action="Index"> داشبرد</a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <i class="fa fa-flag"></i>
            <a href="#">مدیریت دسته بندی ها</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                عملیات <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a id="newCategory">
                        <i class="fa fa-plus"></i>دسته بندی جدید
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i>ویرایش</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-remove"></i>حذف</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">انتخاب همه</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="divCreateDialog">

</div>
@* <partial name="_createDialog" />
<pertial name="_editDialog" /> *@
<input type="hidden" asp-for="Filter.PostTypeId" />
<input type="hidden" asp-for="PostTypeSlug" id="postTypeSlug" />
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-newspaper-o"></i>دسته بندی ها
                </div>
                <ul class="nav nav-tabs" style="float: right">
                @{

                    int i = 0;
                    foreach (var lang in Model.Languages) {
                        string liClass = "";
                        if(i == 0) {
                            liClass = "active";
                        }
                        <li class="@liClass">
                            @if(i == 0) {
                                <a href="#tab_@lang.Id" data-toggle="tab" aria-expanded="true">
                                    @lang.Title
                                </a>
                            }
                            else {
                                <a href="#tab_@lang.Id" data-toggle="tab" aria-expanded="false">
                                    @lang.Title
                                </a>
                            }
                            
                        </li>
                        i++;
                    }
                }
                    
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                @{
                    int j =  0;
                    foreach (var lang in Model.Languages) {
                        var activeClass = "";
                        
                        if(j == 0) {
                            activeClass = "active";
                        }
                        <div class="tab-pane @activeClass" id="tab_@lang.Id">
                            <div class="">
                               <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>عنوان دسته‌‌بندی</th>
                                            <th>وضعیت</th>
                                            <th>تاریخ ایجاد</th>
                                            <th>آخرین تغییر</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                     @foreach (var cat in Model.Items.Where(_ => _.LangId == lang.Id)) {
                                         var badgeClassName = "";
                                         switch(cat.Status) {
                                             case EntityStatus.Deleted: 
                                                badgeClassName = "danger";
                                                break;
                                            case EntityStatus.Disabled:
                                                badgeClassName = "secondary";
                                                break;
                                            case EntityStatus.Enabled:
                                                badgeClassName = "success";
                                                break;
                                         }
                                        <tr>
                                            <td>
                                            <a style="text-decoration: none;" title="ویرایش" asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id">@cat.Title</a>
                                            </td>
                                            <td>
                                                <center><span class="badge badge-@badgeClassName">@cat.StatusText</span></center>
                                            </td>
                                            <td>@cat.CreateDateDisplay</td>
                                            <td>@cat.ModifyDateDisplay</td>
                                            <td>

                                            <a style="text-decoration: none;" title="ویرایش" asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id">
                                                <div class="input-inline">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-edit"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>

                                            <a style="text-decoration: none;" title="حذف" class="delete-dialog" id="btnRemove" href="#remove" data-id="@cat.Id" data-toggle="modal">
                                                <div class="input-inline">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-trash"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>

                                            </td>
                                        </tr>   
                                    }
                                </table>
                            </div>
                        </div>
                        j++;
                    }
                }
                </div>
            </div>
        
        </div>
    </div>
</div>


<partial name="_deleteDlg" />

@section headSection {

}

@section footerScripts {
    <script>
        $(document).ready(function () {
            $('#newCategory').click(function () {
                alert('ok');
                var postTypeSlug = $("#postTypeSlug").value;
                alert(postTypeSlug);
                var url = $('#divCreateDialog').data('category/new/' + postTypeSlug);
                $.get(url, function (data) {
                    $("#divCreateDialog").html(data);
                    $("#createDialog").modal('show');
                });
        });
    });
    </script>
}